# 前端忽略文件
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# 后端忽略文件
backend/debug.log
backend/*.exe
backend/*.out
backend/*.o

# 通用忽略文件
.git
.trae
*.swp
*.swo
*~
.DS_Store
.env
.env.local
.env.*.local

# IDE 目录
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
